nav {
	position: fixed;
	width: 100%;
	background-color: steelblue;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul .navbar-title {
	display: none;
}

nav ul li {
	display: inline-block;
	font-weight: 600;
	color: white;
	text-align: center;
	padding: 14px 6px;
}

nav ul li:hover {
	color: black;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li a:hover {
	color: black;
}

nav ul li.dropdown {
	float: right;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;

	border: 1px white solid;
	right: 12px;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	color: white;
	background-color: steelblue;
}

.dropdown-content a:hover {
	background-color: gray;
}

@media (min-width: 640px) {
	nav ul .navbar-title {
		display: inline;
	}

	nav ul li a {
		padding: 14px 10px;
	}

	nav ul li.dropdown {
		margin-right: 8px;
	}
}

@media (min-width: 768px) {
	nav ul .navbar-title {
		display: inline;
	}

	nav ul li a {
		padding: 14px 14px;
	}

	nav ul li.dropdown {
		margin-right: 12px;
	}
}

@media (min-width: 1024px) {
	nav ul .navbar-title {
		display: inline;
	}

	nav ul li a {
		padding: 14px 18px;
	}

	nav ul li.dropdown {
		margin-right: 16px;
	}
}
